atomicwrites==1.2.1
attrs==18.2.0
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Cython==0.29
docutils==0.14
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
more-itertools==4.3.0
pkginfo==1.4.2
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pytest==3.10.0
readme-renderer==24.0
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
smmap2==2.0.5
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
